spring:
  application:
    name: fit-chef-ai

  datasource:
    url: jdbc:h2:mem:fitchef_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

  h2:
    console:
      enabled: true
      path: /console